<ul id="data-source-list" class="collapsible" data-collapsible="accordion">
  <li *ngFor="let datasource of datasources" [class.active]="datasource === selectedDataSource" (click)="selectDataSource(datasource)">
    <div class="collapsible-header waves-effect">{{datasource.name}}</div>
    <div class="collapsible-body">
      <ul *ngIf="datasource === selectedDataSource" class="collapsible">
        <data-set-list [datasets]="datasource.datasets"></data-set-list>
      </ul>
    </div>
  </li>
</ul>

